<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SeedBankManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error_404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error_java.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/DeleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSeedServlet</display-name>
    <servlet-name>AddSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.AddSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSeedServlet</servlet-name>
    <url-pattern>/AddSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCategoryServlet</display-name>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.UpdateCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCategoryServlet</servlet-name>
    <url-pattern>/UpdateCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSeedServlet</display-name>
    <servlet-name>UpdateSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.UpdateSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSeedServlet</servlet-name>
    <url-pattern>/UpdateSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSeedServlet</display-name>
    <servlet-name>DeleteSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.DeleteSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSeedServlet</servlet-name>
    <url-pattern>/DeleteSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAdminServlet</display-name>
    <servlet-name>FindAdminServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAdminServlet</servlet-name>
    <url-pattern>/FindAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/FindUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindSeedServlet</display-name>
    <servlet-name>FindSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindSeedServlet</servlet-name>
    <url-pattern>/FindSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllAdminServlet</display-name>
    <servlet-name>ViewAllAdminServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewAllAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllAdminServlet</servlet-name>
    <url-pattern>/ViewAllAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUserServlet</display-name>
    <servlet-name>ViewAllUserServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUserServlet</servlet-name>
    <url-pattern>/ViewAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllSeedServlet</display-name>
    <servlet-name>ViewAllSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewAllSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllSeedServlet</servlet-name>
    <url-pattern>/ViewAllSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllCategoryServlet</display-name>
    <servlet-name>ViewAllCategoryServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewAllCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllCategoryServlet</servlet-name>
    <url-pattern>/ViewAllCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllFeedBackServlet</display-name>
    <servlet-name>ViewAllFeedBackServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewAllFeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllFeedBackServlet</servlet-name>
    <url-pattern>/ViewAllFeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFeedback</display-name>
    <servlet-name>ViewFeedback</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFeedback</servlet-name>
    <url-pattern>/ViewFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositSeedServlet</display-name>
    <servlet-name>DepositSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.DepositSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositSeedServlet</servlet-name>
    <url-pattern>/DepositSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawSeedServlet</display-name>
    <servlet-name>WithdrawSeedServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.WithdrawSeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawSeedServlet</servlet-name>
    <url-pattern>/WithdrawSeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewFeedbackServlet</display-name>
    <servlet-name>AddNewFeedbackServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.AddNewFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewFeedbackServlet</servlet-name>
    <url-pattern>/AddNewFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositDetailsServlet</display-name>
    <servlet-name>DepositDetailsServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.DepositDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositDetailsServlet</servlet-name>
    <url-pattern>/DepositDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawDetailsServlet</display-name>
    <servlet-name>WithdrawDetailsServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.WithdrawDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawDetailsServlet</servlet-name>
    <url-pattern>/WithdrawDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllTransactionServlet</display-name>
    <servlet-name>ViewAllTransactionServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.ViewAllTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllTransactionServlet</servlet-name>
    <url-pattern>/ViewAllTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDepositServlet</display-name>
    <servlet-name>FindDepositServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindDepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDepositServlet</servlet-name>
    <url-pattern>/FindDepositServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindWithdrawServlet</display-name>
    <servlet-name>FindWithdrawServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindWithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindWithdrawServlet</servlet-name>
    <url-pattern>/FindWithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDepositByUserServlet</display-name>
    <servlet-name>FindDepositByUserServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindDepositByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDepositByUserServlet</servlet-name>
    <url-pattern>/FindDepositByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindWithdrawByUserServlet</display-name>
    <servlet-name>FindWithdrawByUserServlet</servlet-name>
    <servlet-class>seedbank.viewcontrol.FindWithdrawByUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindWithdrawByUserServlet</servlet-name>
    <url-pattern>/FindWithdrawByUserServlet</url-pattern>
  </servlet-mapping>
</web-app>